@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #44546a;
    color: white; 
    width: 100vw;
    height: 100vh 	
}

.button {
    background-color:#ed7d31;
    color: white;
    border: #8e4b1d;

}

.button:hover {
    background-color: #8e4b1d 
}


.text {
    color: white;
}